@using Chasok4.Repositories
@model IEnumerable< Chasok4.Models.Entities.AppUser>
@{ 
     ViewBag.Title = "Chat";
}
<div class="jumbotron text-center text-success">
    <h2>@ViewBag.UpperTitle</h2>
</div>

<div class="row">    
    <div class="col-md-12" >
        <label for="getAllUsers">Select users You want talk to</label>
        @Html.DropDownList("getAllUsers", null, "All Users", new { })       
    </div>
    
</div>


<div class="row">
    <div class="col-md-4 col-md-offset-1">
        <br />
        <div id="selectedInUsersDiv"></div>
    </div>
    <div class="col-md-6">
        <div id="chatBody" class="table-bordered">            
            <input id="textUserName" value="@User.Identity.Name" hidden /><br>
            <div class="table-responsive">
                <form action="" onsubmit="return false">
                    <textarea placeholder="Enter some message" title="Enter some message" id="message"></textarea>
                    <br>
                    <button class="btn btn-success" value="Send" id="sendmessage">Send</button>
                    <br />
                    <div  style="white-space:pre-wrap" id="chatroom">                        
                    </div>
                </form>
            </div>
           
            <hr />
        </div>

    </div>
</div>


<script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
<script src="~/signalr/hubs"></script>
<script src="~/Scripts/util.js"></script>
<script>
    var selectedInUsers = [];    
    $("#getAllUsers").change(function () {
        selectedInUsers.push($("#getAllUsers").val());
        for (var i = 0; i < $("#getAllUsers")[0].length; i++) {
            if ($("#getAllUsers")[0][i].value == $("#getAllUsers").val()) {
                $("#getAllUsers")[0].remove(i);
            }
        }
        renderSelectedUsers();
    });

    function renderSelectedUsers() {
        $("#selectedInUsersDiv").html("");
        for (var i = 0; i < selectedInUsers.length ; i++) {
            $("#selectedInUsersDiv").append("<div><input readonly type=\"text\" width=\"200px\" id=\"checkedUser\" value=\"" + selectedInUsers[i]
                + "\"/><button type=\"button\" class=\"glyphicon glyphicon-trash\" onclick=\"removeSelectedUser('"
                + selectedInUsers[i].toString() + "')\"></button> </div>  ");
        }        
    }
   
    function removeSelectedUser(e) {
        for (var i = 0; i < selectedInUsers.length; i++) {
            if (selectedInUsers[i] == e) {
                var opt = '<option value="' + e + '">' + e + '</option>';
                $("#getAllUsers").append(opt);
                selectedInUsers.splice(i, 1);
            }
        }
        renderSelectedUsers();
    }
    
</script>


    @*<script>
        var socket,
            $txt = document.getElementById('message'),
            $user = document.getElementById('user'),
            $messages = document.getElementById('messages');                        
            
        //if (typeof (WebSocket) !== 'undefined') {
        //    socket = new WebSocket("ws://localhost/Chasok4/ChatHandler.ashx");            
        //} else {
        //    socket = new MozWebSocket("ws://localhost/Chasok4/ChatHandler.ashx");            
        //}

        //socket.onmessage = function (msg) {
        //    var $el = document.createElement('p');
        //    $el.innerHTML = msg.data;
        //    $messages.appendChild($el);            
        //};

        //socket.onclose = function (event) {
        //    alert('Мы потеряли её. Пожалуйста, обновите страницу');
        //};

        //document.getElementById('send').onclick = function () {
        //    socket.send($user.value + ' : ' + $txt.value );
        //    $txt.value = '';            
        //};        
        function updateTimer() {
            var cell = document.getElementById('cell');
            var count = Number(cell.innerHTML);

            cell.innerHTML = count += 1;
        };
       
        setInterval(updateTimer, 1000);
    </script>*@

