@using Chasok4.Models
@{
    ViewBag.Title = "Home Page";   
}

<div class="text-center">
    <form action="/home/chat">
        <button class="btn btn-default col-sm-6 col-sm-offset-3" type="submit">Let's chat</button>
    </form>
    
    <h2 class="col-sm-6 col-sm-offset-3">Welcome to Chasok chat</h2>
</div>
    

